# Ignore all .DS_Store files
/out
/.idea
/.vscode
run.sh

# Ignore Buffer files
**/buf.lock

# Ignore all package-lock.json files
yarn.lock

# Ignore all yarn.lock files
yarn.lock

# Ignore all node_modules directories
node_modules
